.conteiner {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.action-btn {
    border: none;
    padding: 16px 10px;
    border-radius: 18px;
    cursor: pointer;
}

.action-btn:hover {
    background: rgb(221, 191, 114);
}

#content {
    width: 500px;
    margin: 0 auto;
    background: rgb(108, 81, 18);
    border-radius: 18px;
    padding: 16px;
}